@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@keyframes dash {
  to {
    stroke-dashoffset: -10;
  }
}

.jumping-link {
  animation: dash 1s linear infinite;
}
